# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/

# Debug
coverage/
